/* You can add global styles to this file, and also import other style files */
@import '@cds/core/global.min.css';
@import '@cds/core/styles/theme.dark.min.css';
@import '@clr/ui/clr-ui.min.css';


.demo-title {
    color: var(--clr-header-font-color);
    font-family: var(--clr-header-title-font-family);
    font-size: var(--cds-alias-typography-section-font-size);
    font-weight: var(--clr-header-title-font-weight);
    line-height: var(--cds-alias-typography-section-line-height);
    letter-spacing: var(--cds-alias-typography-section-letter-spacing);
    margin: var(--cds-global-space-8) 0 0 var(--cds-global-space-8);
    text-overflow: ellipsis;
    overflow: hidden;
}

