<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript://">
        <cds-icon shape="home"></cds-icon>
        <img src="images/bass.jpg" style="width:56px;height:56px;">
        <span class="title">Alberto Ramirez</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="javascript://" class="nav-link nav-icon" aria-label="cloud service">
        <cds-icon shape="cloud"></cds-icon>
      </a>
      <a href="javascript://" class="active nav-link nav-icon" aria-label="storage service">
        <cds-icon shape="folder"></cds-icon>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area" cds-layout="m-t:md">
      <p cds-text="body" cds-layout="m-t:md">
        This Angular Demo contains references to other demo projects that showcase the use of technologies such as Spring Boot, GraphQL, Angular, Apache Kakfa and Apache Druid.
      </p>
      <div class="clr-row">
        <ng-template ngFor let-project [ngForOf]="projects" let-i="index">
          <div class="clr-col-lg-2 clr-col-12">
            <div class="card">
              <div class="card-header">{{project.name}}</div>
              <div class="card-block">
                <div class="card-media-block">
                  <img
                    src={{project.icon}}
                    class="card-media-image"
                    alt="logo"
                  />
                  <div class="card-media-description">
                    <span class="card-media-title">Project: {{project.theme}}</span>
                  </div>
                </div>
                <div class="card-text">
                  {{project.description}}
                </div>
              </div>
              <div class="card-block">
                <span class="card-media-title"> Technologies used:</span>
                <ul class="list">
                  <li *ngFor="let tech of project.technologies">{{tech}}</li>
                </ul>
              </div>
              <div class="card-footer">
                <div class="btn-group  btn-primary btn-sm btn-link">
                  <a href="{{project.url}}" target="_blank">
                   <button class="btn"><cds-icon shape="link"></cds-icon>Open</button>
                  </a>
                  <a href="{{project.github}}" target="_blank">
                    <button class="btn"><cds-icon shape="folder"></cds-icon>Github repository</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <clr-vertical-nav />
  </div>
</div>
